<div class="container">
    <form submit.trigger="login()">
        <div class="row">
            <div class="col-12">
                <label>Username</label>
                <input type="text" value.bind="username">
            </div>
            <div class="col-12">
                <label>Password</label>
                <input type="password" value.bind="password">
            </div>
            <div class="col-12">
                <button type="submit">Login</button>
            </div>
        </div>
    </form>
</div>